
 


<!-- 手机端右侧抽屉菜单 -->
<div id="mobile-drawer" class="mobile-drawer" aria-hidden="true">
    <div class="mobile-drawer-overlay"></div>
    <aside class="mobile-drawer-panel" role="dialog" aria-modal="true">
        <button class="mobile-drawer-close" aria-label="Close menu">&times;</button>
        <nav class="mobile-navigation">
            <ul id="menu-%e6%89%8b%e6%9c%ba%e8%8f%9c%e5%8d%95" class="mobile-menu"><li id="menu-item-22109" class="menu-item menu-item-type-taxonomy menu-item-object-products menu-item-has-children menu-item-22109"><a href="https://v2.mygica.com/products/e-paper-displays/">E-Paper Displays</a>
<ul class="sub-menu">
	<li id="menu-item-22110" class="menu-item menu-item-type-taxonomy menu-item-object-products menu-item-22110"><a href="https://v2.mygica.com/products/color-e-paper-displays/">Color E-Paper Displays</a></li>
	<li id="menu-item-22111" class="menu-item menu-item-type-taxonomy menu-item-object-products menu-item-22111"><a href="https://v2.mygica.com/products/black-white-e-paper-displays/">Black &amp; White E-Paper Displays</a></li>
	<li id="menu-item-22112" class="menu-item menu-item-type-taxonomy menu-item-object-products menu-item-22112"><a href="https://v2.mygica.com/products/chlcd-displays/">ChLCD Displays</a></li>
</ul>
</li>
<li id="menu-item-22113" class="menu-item menu-item-type-taxonomy menu-item-object-products menu-item-22113"><a href="https://v2.mygica.com/products/e-paper-monitors/">E-Paper Monitors</a></li>
<li id="menu-item-22114" class="menu-item menu-item-type-taxonomy menu-item-object-products menu-item-22114"><a href="https://v2.mygica.com/products/e-paper-photo-frames/">E-Paper Photo Frames</a></li>
<li id="menu-item-22115" class="menu-item menu-item-type-taxonomy menu-item-object-products menu-item-22115"><a href="https://v2.mygica.com/products/e-ink-tablets/">E-Ink Tablets</a></li>
<li id="menu-item-22116" class="menu-item menu-item-type-taxonomy menu-item-object-products menu-item-22116"><a href="https://v2.mygica.com/products/tcon-mainboards/">TCON &amp; Mainboards</a></li>
<li id="menu-item-22117" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22117"><a href="https://v2.mygica.com/solutions/">Solutions</a></li>
<li id="menu-item-19044" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-19044"><a href="#">Services</a>
<ul class="sub-menu">
	<li id="menu-item-17268" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17268"><a href="https://v2.mygica.com/service/">Customized Services</a></li>
	<li id="menu-item-17265" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17265"><a href="https://v2.mygica.com/downloads/">Download</a></li>
</ul>
</li>
<li id="menu-item-17267" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17267"><a href="https://v2.mygica.com/about/">About</a></li>
<li id="menu-item-17266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17266"><a href="https://v2.mygica.com/contact-us/">Contact Us</a></li>
</ul>        </nav>
		<div class="mobile-lang">
            <div class="mobile-lang-inner">
                <button class="mobile-lang-toggle" type="button" aria-expanded="false">
                    <span class="left"><i class="iconfont icon-ditu_diqiu_o"></i><span class="label">Language</span></span>
                    <i class="iconfont icon-angle-down arrow"></i>
                </button>
   
                
                <div class="mobile-lang-list" role="menu" aria-hidden="true">
					<a href="#" class="mobile-lang-item" data-lang="english">
						<span class="language-flag"><img draggable="false" role="img" class="emoji" alt="🇺🇸" src="https://s.w.org/images/core/emoji/16.0.1/svg/1f1fa-1f1f8.svg"></span>
						<span class="language-name ignore">EN</span>
					</a>
					<a href="#" class="mobile-lang-item" data-lang="chinese_simplified">
						<span class="language-flag"><img draggable="false" role="img" class="emoji" alt="🇨🇳" src="https://s.w.org/images/core/emoji/16.0.1/svg/1f1e8-1f1f3.svg"></span>
						<span class="language-name ignore">CN</span>
					</a>
                </div>
            </div>
        </div>
    </aside>
 </div>
